<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- load stylesheets -->
    <link href="../plugins/layer-v2.3/layer/skin/layer.css" rel="stylesheet"/>
</head>
<body>
<a href="javascript:void(0)" onclick="Util.Modal.show('/modal/register.html')">注册</a>
<a href="javascript:void(0)" onclick="Util.User.login(function() {location.reload();});">登录</a>
<a href="/user/logout">退出</a>
<p th:if="${session.SESSION_USER}">用户：<i th:text="${session.SESSION_USER.mobile}" />（<i th:text="${session.SESSION_USER.nickName}" />）&nbsp;已登录</p>
<!-- load JS files -->
<script src="../common/js/jquery-1.9.1.js"></script>           <!-- jQuery (https://jquery.com/download/) -->
<script src="../plugins/layer-v2.3/layer/layer.js"></script>
<script src="../common/js/utils.js"></script>
</body>
</html>